// Stylesheets

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;600;700;800&display=swap')

// VARIABLES
$font-titles: 'Raleway', sans-serif
$font-text: 'Open Sans', sans-serif

$default-blue: #2B60FF
$light-blue: #59ABF3
$dark-blue: #172734

$soft-blue: #DFE6F3
$soft-purple: #DCE2F9
$soft-white: #F4F6FB // For sections backgrounds

$default-gray: #555555
$light-gray: #D2D3D5
$dark-gray: #222

$gradient1: #02BDFF
$gradient2: #2B60FF

// MIXINS
@mixin transition($time)
  -webkit-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -moz-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -ms-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  -o-transition: all $time cubic-bezier(0.42, 0, 0.58, 1)
  transition: all $time cubic-bezier(0.42, 0, 0.58, 1)

@mixin gradient
  background: #2B60FF
  background: linear-gradient(90deg, $gradient1 0%, $gradient2 100%)
  background: -webkit-linear-gradient(90deg, $gradient1 0%, $gradient2 100%)
  background: -moz-linear-gradient(90deg, $gradient1 0%, $gradient2 100%)
  background: -o-linear-gradient(90deg, $gradient1 0%, $gradient2 100%)
  background: linear-gradient(90deg, $gradient1 0%, $gradient2 100%)  

// HELPERS
.flip-order-desktop
	flex-direction: row-reverse !important
	@media only screen and (max-width: 40rem)
		flex-direction: column !important

.justify-center
	display: flex
	justify-content: center

@import "base"
@import "components"

// HOMEPAGE
.page-home
	.sec-hero
		background-image: url('../images/home-hero-bg-full.jpg')
		.hero-wrap
			align-items: flex-start
			justify-content: center
			gap: 10px
			.headline1
				font-size: 56px
			.headline2
				font-size: 24px
				font-weight: 600
			.button
				margin-top: 50px
		@media only screen and (max-width: 40rem)
			background-image: url('../images/home-hero-bg-mobile.jpg')
			background-position: bottom center
			.hero-wrap
				padding: 80px 0 0
				justify-content: flex-start
				height: 750px
				.headline1
					font-size: 46px
				.button
					margin-top: 20px
					display: none

	.sec-solutions
		padding: 200px 0
		.headline1
			text-align: center
			padding-bottom: 30px
			border-bottom: 1px solid $light-gray
		.flex
			display: flex
			flex-direction: column
			gap: 200px
		@media only screen and (max-width: 60rem)
			padding: 100px 0
			.flex
				gap: 50px
			.sec-wrap
				img
					width: 100%
					max-width: fit-content
					// margin: auto
				&:nth-child(2)
					flex-direction: column
		@media only screen and (max-width: 40rem)
			padding: 100px 0
			.headline1
				border-bottom: none

	.sec-integrations
		padding-bottom: 200px
		.headline2
			margin-bottom: 60px
		.flex
			display: flex
			flex-direction: column
			gap: 150px
		@media only screen and (max-width: 40rem)
			padding-bottom: 100px
			.headline2
				margin-bottom: 30px
				text-align: center
			.flex
				gap: 50px
			img
				width: 50%

	.sec-cards
		padding: 200px 0 150px
		background-color: $soft-white
		.cards-wrap
			display: flex
			gap: 0px
			flex-direction: column
			border-radius: 28px
			background-color: white
			background-color: $soft-white
			box-shadow: 0 0 40px rgba(99, 118, 143, 0.25)
			overflow: hidden
			width: fit-content
			margin: auto
		.card
			display: flex
			align-items: center
			justify-content: center
			flex-direction: row
			padding: 100px
			gap: 100px
			border: none
			width: fit-content
			// Foundation override
			margin-bottom: 0
			&:last-child
				border-top: 1px solid $soft-blue
		.card-content
			max-width: 560px
			display: flex
			flex-direction: column
			gap: 40px
		@media only screen and (max-width: 40rem)
			padding: 100px 0
			.card
				flex-direction: column
				padding: 40px
				gap: 40px
			img
				width: 50%
			.card-content
				text-align: center

	.sec-contact
		padding: 400px 0 200px
		background-color: $soft-white
		background-image: url('../images/darkblue-bg.png')
		@media only screen and (max-width: 40rem)
			padding: 100px 0
			background-color: $dark-blue
			background-image: unset

// SOBRE
.page-about
	.sec-about
		padding: 100px 0
		.flex
			display: flex
			flex-direction: column 
			max-width: 1000px
			gap: 40px
		.contact-banner
			margin-top: 60px

// CONTATO
.page-contact
	.sec-contact
		padding: 100px 0
		.flex
			display: flex
			flex-direction: column 
			max-width: 500px
			gap: 40px
		.contact-banner
			margin-top: 60px
		@media only screen and (min-width: 60rem) and (max-width: 70rem)
			img
				width: 50%

// COLLEGE
.page-college
	.sec-hero
		background-image: url('../images/college-bg.jpg')
		.hero-wrap
			align-items: center
			justify-content: flex-start
			padding-top: 100px
			.headline1
				text-shadow: 1px 1px 5px rgba(0, 0, 0, 1.0)
				padding: 30px 0
		@media only screen and (max-width: 40rem)
			.hero-wrap
				padding: 100px 0
				height: unset
				.headline1
					font-size: 36px
	.sec-intro
		padding: 100px 0 225px
		.headline1
			text-align: center
			justify-content: center
			padding-bottom: 30px
			border-bottom: 1px solid $light-gray
		.flex
			display: flex
			align-items: center
			justify-content: center
		.sec-wrap
			flex-direction: column
			text-align: center
			max-width: 832px
			gap: 50px
		@media only screen and (max-width: 40rem)
			padding: 100px 0

	.sec-college-2
		padding: 150px 0 175px
		background-color: $soft-white
		border-top: 1px solid $soft-purple
		position: relative
		.section-icon
			display: flex
			align-items: center
			justify-content: center
			width: 250px
			height: 250px
			border-radius: 125px
			background-color: $soft-white
			position: absolute
			left: 50%
			top: -125px
			margin-left: -125px
		.flex
			display: flex
			justify-content: space-between
			align-items: flex-end
			div
				max-width: 600px
			.headline2
				margin-bottom: 20px
		@media only screen and (max-width: 40rem)
			padding: 100px 0 50px
			text-align: center
			.section-icon
				width: 124px
				height: 124px
				border-radius: 62px
				top: -62px
				margin-left: -62px
			img
				width: 75%
			.flex
				flex-direction: column
				gap: 20px

	.sec-college-3
		padding: 300px 0 275px
		background-color: $soft-white
		background-image: url('../images/darkblue-bg.png')
		background-size: cover
		background-position: center top
		.headline2,
		.paragraph
			color: white
		@media only screen and (max-width: 40rem)
			padding: 150px 0 100px
			text-align: center
			img
				width: 50%
	
	.sec-college-4
		padding: 200px 0 275px
		@media only screen and (max-width: 40rem)
			padding: 100px 0 180px
			text-align: center
			img
				width: 50%

	.sec-college-5
		padding: 0 0 70px
		background-color: $soft-white
		@media only screen and (max-width: 40rem)
			padding: 0 0 20px

// INTEGRAÇÕES
.page-integracoes
	.sec-hero
		background-image: url('../images/integracao-bg.jpg')
		.hero-wrap
			align-items: center
			justify-content: center
			.headline1
				text-align: center
				padding-bottom: 30px
				border-bottom: 1px solid white
				margin-bottom: 250px
		@media only screen and (max-width: 40rem)
			.hero-wrap
				padding: 100px 0
				height: unset
				.headline1
					font-size: 36px
					border-bottom: none
					margin-bottom: 0
	
	.sec-intro
		padding: 150px 0 175px
		.flex
			display: flex
			justify-content: space-between
			align-items: flex-end
			div
				max-width: 600px
			.headline2
				margin-bottom: 20px
		@media only screen and (max-width: 40rem)
			padding: 100px 0 50px
			text-align: center
			.flex
				flex-direction: column
				gap: 20px

	.sec-college-2
		padding: 150px 0 300px
		background-image: url('../images/darkblue-bg-flip.png')
		backgro
		background-size: cover
		background-position: center bottom
		.headline2,
		.paragraph
			color: white
		@media only screen and (max-width: 40rem)
			padding: 50px 0 150px
			text-align: center
			img
				width: 50%
	
	.sec-college-3
		padding: 200px 0 275px
		@media only screen and (max-width: 40rem)
			padding: 50px 0 180px
			text-align: center
			img
				width: 50%

	.sec-college-4
		padding: 0 0 70px
		background-color: $soft-white
		.college-banner
			position: relative
			top: -80px
			.banner-image
				background-position: center
		@media only screen and (max-width: 40rem)
			padding: 0 0 20px
			.college-banner
				height: unset

