@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;600;700;800&display=swap");
.flip-order-desktop {
  flex-direction: row-reverse !important; }
  @media only screen and (max-width: 40rem) {
    .flip-order-desktop {
      flex-direction: column !important; } }

.justify-center {
  display: flex;
  justify-content: center; }

.sec-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 100px; }
  @media only screen and (max-width: 60rem) {
    .sec-wrap {
      flex-direction: column;
      gap: 50px; } }
  @media only screen and (max-width: 40rem) {
    .sec-wrap {
      gap: 25px;
      width: 95%;
      margin: auto; } }

* {
  background-repeat: no-repeat; }

a, a:active, a:visited {
  color: inherit;
  text-decoration: none; }

html {
  font-family: "Open Sans", sans-serif; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: white; }
  @media only screen and (max-width: 40rem) {
    body {
      font-size: 15px; } }

@media only screen and (max-width: 40rem) {
  header.menu-mobile-active {
    -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -ms-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
    background-color: rgba(0, 0, 0, 0.2); } }

.header {
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 17px; }
  .header nav {
    display: flex;
    align-items: center;
    gap: 50px; }
    .header nav a {
      -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
      -ms-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1); }
      .header nav a.active, .header nav a:hover {
        color: inherit; }
    .header nav .button {
      font-size: 17px;
      padding: 10px 35px; }
  @media only screen and (max-width: 40rem) {
    .header {
      width: 100%;
      gap: 40px;
      padding: 10px;
      flex-wrap: wrap; }
      .header nav {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        width: 100%; } }
  .header.style--1 {
    color: white; }
  .header.style--2 {
    color: #555555; }
    .header.style--2 .menu-icon:after {
      background: #172734;
      box-shadow: 0 7px 0 #172734, 0 14px 0 #172734; }

footer {
  padding: 80px 0 30px;
  background-color: #fcfcfc;
  color: #555555;
  border-top: 1px solid #F4F6FB; }
  footer .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #D2D3D5; }
  footer .footer-half {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 40px; }
  footer .footer-quarter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    footer .footer-quarter div {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: flex-start; }
  footer h6 {
    margin-bottom: 10px; }
  footer ul {
    margin: 0;
    text-align: left; }
    footer ul li {
      list-style: none;
      margin-bottom: 0; }
    footer ul img {
      margin-right: 10px; }
  footer .copyright {
    display: block;
    text-align: center;
    margin-top: 30px; }
  @media only screen and (max-width: 40rem) {
    footer {
      font-size: 14px; }
      footer .footer-wrap {
        gap: 40px;
        width: 95%;
        margin: auto;
        padding-bottom: 20px; }
      footer .footer-half:first-child {
        gap: 20px; }
      footer .footer-quarter {
        gap: 20px; }
      footer .copyright {
        width: 95%;
        margin: auto;
        padding-top: 20px; } }

.logo {
  width: 152px; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  width: fit-content;
  margin: 0;
  padding: 15px 70px;
  border-radius: 6px;
  -webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1); }
  .button--solid {
    background-color: #2B60FF; }
  .button--gradient {
    background: #2B60FF;
    background: linear-gradient(90deg, #02BDFF 0%, #2B60FF 100%);
    background: -webkit-linear-gradient(90deg, #02BDFF 0%, #2B60FF 100%);
    background: -moz-linear-gradient(90deg, #02BDFF 0%, #2B60FF 100%);
    background: -o-linear-gradient(90deg, #02BDFF 0%, #2B60FF 100%);
    background: linear-gradient(90deg, #02BDFF 0%, #2B60FF 100%); }
  .button--dark {
    background-color: #172734; }
  .button--light {
    color: #2B60FF;
    background-color: white;
    border: 2px solid #2B60FF; }
  @media only screen and (max-width: 40rem) {
    .button {
      padding: 15px;
      width: 100%;
      font-size: 16px; } }

.solution-title {
  display: block;
  width: 450px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #222;
  padding-bottom: 10px;
  border-bottom: 1px solid #D2D3D5; }
  @media only screen and (max-width: 40rem) {
    .solution-title {
      width: 100%; } }

.headline1 {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #222;
  line-height: 1.1;
  margin-bottom: 0; }
  @media only screen and (max-width: 40rem) {
    .headline1 {
      font-size: 36px; } }

.headline2 {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 800;
  color: #222;
  line-height: 1.1;
  margin-bottom: 0; }
  @media only screen and (max-width: 40rem) {
    .headline2 {
      font-size: 22px; } }

.headline3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #222;
  line-height: 1.1;
  margin-bottom: 0; }
  @media only screen and (max-width: 40rem) {
    .headline3 {
      font-size: 20px; } }

.paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 1.5;
  color: #222;
  margin-bottom: 0; }
  @media only screen and (max-width: 40rem) {
    .paragraph {
      font-size: 15px; } }

.content-wrap {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 645px; }
  .content-wrap .button {
    margin-top: 20px; }

.features-list {
  margin-top: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column; }
  .features-list li {
    gap: 20px;
    display: flex;
    list-style: none;
    align-items: center; }
    .features-list li i {
      background-color: #F4F6FB;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      padding: 12px; }
    .features-list li span {
      width: 100%;
      font-size: 15px; }

.contact-banner {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 28px;
  overflow: hidden;
  max-width: 1200px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
  .contact-banner .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 150px;
    background-color: #2B60FF;
    background-image: url("../images/pattern-bg.jpg");
    background-size: cover;
    color: white;
    width: 690px; }
    .contact-banner .banner-content .headline3 {
      margin-bottom: 20px;
      color: white; }
    .contact-banner .banner-content .paragraph {
      color: white; }
  .contact-banner .banner-image {
    width: 510px;
    background-image: url("../images/img-3.jpg");
    background-size: cover; }
  @media only screen and (max-width: 40rem) {
    .contact-banner {
      flex-direction: column-reverse; }
      .contact-banner .banner-content {
        padding: 50px;
        width: 100%; }
        .contact-banner .banner-content .headline3,
        .contact-banner .banner-content .paragraph {
          text-align: center; }
      .contact-banner .banner-image {
        width: 100%;
        height: 200px; } }

form {
  display: flex;
  flex-direction: column;
  gap: 30px; }
  form label {
    font-family: "Raleway", sans-serif;
    color: inherit; }
  form input[type='text'], form input[type='email'], form input[type='tel'], form textarea {
    width: 400px;
    height: 60px;
    border-radius: 4px;
    background-color: #FCFCFC;
    border: 1px solid #F7F7F7;
    box-shadow: none;
    margin: 0; }
    @media only screen and (max-width: 60rem) {
      form input[type='text'], form input[type='email'], form input[type='tel'], form textarea {
        width: 100%; } }
  form textarea {
    width: 100%;
    height: 120px; }
  form .fields-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; }
  @media only screen and (max-width: 60rem) {
    form label {
      width: 100%; } }

.owl-carousel .owl-stage-outer {
  width: 90%;
  margin: auto; }
  .owl-carousel .owl-stage-outer:after, .owl-carousel .owl-stage-outer:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 80px; }
  .owl-carousel .owl-stage-outer:after {
    background: -moz-linear-gradient(left, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 0) 90%, #f9f9f9 100%);
    background: -webkit-linear-gradient(left, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 0) 90%, #f9f9f9 100%);
    background: linear-gradient(to right, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 0) 90%, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#f9f9f9',GradientType=1 ); }
  .owl-carousel .owl-stage-outer:before {
    background: -moz-linear-gradient(left, #f9f9f9 0%, rgba(249, 249, 249, 0) 10%, rgba(249, 249, 249, 0) 100%);
    background: -webkit-linear-gradient(left, #f9f9f9 0%, rgba(249, 249, 249, 0) 10%, rgba(249, 249, 249, 0) 100%);
    background: linear-gradient(to right, #f9f9f9 0%, rgba(249, 249, 249, 0) 10%, rgba(249, 249, 249, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#00f9f9f9',GradientType=1 ); }

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
  justify-content: center; }
  .owl-carousel .owl-stage .owl-item {
    display: flex;
    align-items: center;
    justify-content: center; }
    .owl-carousel .owl-stage .owl-item img {
      display: block;
      width: 100%;
      max-width: 200px;
      max-height: 80px;
      margin: auto; }
      .owl-carousel .owl-stage .owl-item img:hover {
        cursor: pointer; }

.owl-nav {
  position: relative;
  top: -80px; }
  .owl-nav .owl-prev {
    position: absolute;
    left: 0; }
  .owl-nav .owl-next {
    position: absolute;
    right: 0; }

.models-wrap.owl-theme .owl-nav [class*=owl-] {
  font-size: 30px;
  font-weight: 900;
  color: #ccc; }
  .models-wrap.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: #666; }

a.link {
  color: inherit;
  font-weight: bold;
  display: block;
  margin: 20px 0; }

.snippet-preview {
  margin: 40px 0 20px; }

.sec-hero {
  background-size: cover;
  background-position: center;
  background-color: #172734;
  background-image: url("../images/home-hero-bg-full.jpg"); }
  .sec-hero .hero-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 840px; }
    .sec-hero .hero-wrap .headline1 {
      color: white;
      font-size: 56px; }
    .sec-hero .hero-wrap .headline2 {
      color: white;
      font-size: 24px;
      font-weight: 600; }
    .sec-hero .hero-wrap .button {
      margin-top: 50px; }
  @media only screen and (max-width: 40rem) {
    .sec-hero {
      background-image: url("../images/home-hero-bg-mobile.jpg");
      background-position: bottom center; }
      .sec-hero .hero-wrap {
        padding: 80px 0 0;
        text-align: center;
        justify-content: flex-start;
        height: 750px; }
        .sec-hero .hero-wrap .button {
          margin-top: 20px;
          display: none; } }

.sec-solutions {
  padding: 200px 0; }
  .sec-solutions .headline1 {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #D2D3D5; }
  .sec-solutions .flex {
    display: flex;
    flex-direction: column;
    gap: 200px; }
  @media only screen and (max-width: 60rem) {
    .sec-solutions {
      padding: 100px 0; }
      .sec-solutions .flex {
        gap: 50px; }
      .sec-solutions .sec-wrap img {
        width: 100%;
        max-width: fit-content; }
      .sec-solutions .sec-wrap:nth-child(2) {
        flex-direction: column; } }
  @media only screen and (max-width: 40rem) {
    .sec-solutions {
      padding: 100px 0; }
      .sec-solutions .headline1 {
        border-bottom: none; } }

.sec-integrations {
  padding-bottom: 200px; }
  .sec-integrations .headline2 {
    margin-bottom: 60px; }
  .sec-integrations .flex {
    display: flex;
    flex-direction: column;
    gap: 150px; }
  @media only screen and (max-width: 40rem) {
    .sec-integrations {
      padding-bottom: 100px; }
      .sec-integrations .headline2 {
        margin-bottom: 30px;
        text-align: center; }
      .sec-integrations .flex {
        gap: 50px; }
      .sec-integrations img {
        width: 50%; } }

.sec-cards {
  padding: 200px 0 150px;
  background-color: #F4F6FB; }
  .sec-cards .sec-wrap {
    align-items: unset; }
  .sec-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 60px;
    text-align: center;
    border: none;
    border-radius: 28px;
    background-color: white;
    box-shadow: 0 0 40px rgba(99, 118, 143, 0.25);
    max-width: 550px; }
  @media only screen and (max-width: 40rem) {
    .sec-cards {
      padding: 100px 0; }
      .sec-cards .card {
        padding: 30px;
        gap: 20px; }
        .sec-cards .card img {
          width: 50%; } }

.sec-contact {
  padding: 400px 0 200px;
  background-color: #F4F6FB;
  background-image: url("../images/darkblue-bg.png"); }
  @media only screen and (max-width: 40rem) {
    .sec-contact {
      padding: 100px 0;
      background-color: #172734;
      background-image: unset; } }

.sec-about {
  padding: 100px 0; }
  .sec-about .flex {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap: 40px; }
  .sec-about .contact-banner {
    margin-top: 60px; }
